<div class="container">
    <div class="flex flex-col justify-center items-center my-5">
        <div class="h-full w-full">
            <div class="text-center">
                <h1 class="text-xl font-bold">CONFIGURACIÓN</h1>
            </div>
        </div>
        
    </div>
</div>